<html>
  <head>
    <title>Evaluating interpretability</title>
    <!-- simpleamt depends on these libraries -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
    <!-- end of required libraries -->
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- mozilla pdf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <style>
      #button-div {
        margin-bottom: 10px;
      }
      #reason-area {
        margin: 10px 0;
        font-size: 24pt;
      }
      #text-area {
        margin: 10px 0;
        font-size: 24pt;
      }
      #feedback-area {
        margin: 10px 0;
        font-size: 24pt;
      }
      #counter {
        margin: 0 10px;
        font-size: 20pt;
        font-weight: bold;
      }
      #scroll {
        overflow-y: scroll;
        white-space: nowrap;
        height: 60%;
      }
      #scroll img {
        width: auto;
        height: auto;
      }
      p {
        font-size: 18px;
      }
      .btn-group button {
        background-color: #3e3d3d; /* Green background */
        border: 1px solid rgb(0, 0, 0); /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
      }
      .basic {
        height: 18px;
        width: 18px;
        vertical-align: top;
      }
      .mono {
        font-size: 18px;
        font-family: monospace;
        white-space: pre;
      }
      .mono-bold {
        font-size: 18px;
        font-family: monospace;
        white-space: pre;
        font-weight: bold;
      }
      .mono-bold-no {
        font-size: 18px;
        font-family: monospace;
        font-weight: bold;
      }
      .mono-green {
        font-size: 18px;
        font-family: monospace;
        white-space: pre;
        color: green;
      }
      .mono-red {
        font-size: 18px;
        font-family: monospace;
        white-space: pre;
        color: red;
      }
      table, th, td {
        border: none;
        width=100%;
        white-space:nowrap;
        table-layout: auto;
        padding: 10px;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        padding: 20px;
      }

      p, ul, ol, dl, table {
        margin-bottom: 1em;
        padding: 20px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      img {
        height: auto;
        width: 100%;
      }
      iframe {
        width: 100%;
        height: 50%;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
      }
      li {
        font-size: 18px;
      }
      .row_special {
        display: grid;
        grid-auto-flow: column;
        gap: 10%;
      }

      .col_special {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
      }
      .double {
        zoom: 1.5;
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        -moz-transform: scale(2);
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
      }
    </style>
  </head>

  <body>

    <!-- Demographics and background -->
    {% include "hit_templates/setup.html" %}


    <!-- Model introduction -->
    <div class='container-fluid' id="part_intro" style="display: none; ">
      <div class='container-fluid'>
        <h1>Explanation introduction</h1>
        <p style="font-size:18px">
          Please carefully read this page as the remaining study depends on your understanding of the model and explanation.
        </p>
        <br>
        {% include "hit_templates/intro_8_16_32concept.html" %}
        <br>
        <div class='container-fluid'></div>
        <br>
        <div class='container-fluid'>
          <h3>Please self-rate your level of understanding of concept-based explanations.</h3>
          <form action="" method="post">
            <input type="radio" class="basic" name="subjective_expl" value="1" /> <span style="font-size:18px; white-space:pre">Very Poor  </span>
            <input type="radio" class="basic" name="subjective_expl" value="2" /> <span style="font-size:18px; white-space:pre">Poor  </span>
            <input type="radio" class="basic" name="subjective_expl" value="3" /> <span style="font-size:18px; white-space:pre">Fair  </span>
            <input type="radio" class="basic" name="subjective_expl" value="4" /> <span style="font-size:18px; white-space:pre">Good  </span>
            <input type="radio" class="basic" name="subjective_expl" value="5" /> <span style="font-size:18px; white-space:pre">Very Good  </span>
          </form>
        </div>
        <br><br>
        <div class='col-xs-12' id='button-div'>
          <button class='btn btn-lg btn-primary' id="next_intro2preview" disabled onclick="pg_intro2preview()">Next Page</button>
        </div>
        <br><br><br>
      </div>
    </div>

    <!-- Task preview -->
    <div class='container-fluid' id="part_preview" style="display: none; ">

      <div class='container-fluid'>
        <h1>Task preview</h1>
        <p>
          You will complete the following task for 10 photos in total.
          <br>
          Please try your best on the task. Your work is crucial to the success of our study!
        <p>
      </div>

      <br>

      {% include "hit_templates/task_preview.html" %}

    </div>


    <!-- Main task -->
    {% include "hit_templates/task_8concept_sgroup1.html" %}


    <!-- Main task 2 -->
    {% include "hit_templates/task_8concept_sgroup2.html" %}


    <!-- Post-task evaluation -->
    <div class='container-fluid' id='part_post' style="display: none;">
      <div class='container-fluid'>
        <h1>Post-task evaluation</h1>
        <br>
        <h3>Please self-rate your level of understanding of how the model makes its predictions.</h3>
        <form action="" method="post">
          <input type="radio" class="basic" name="subjective2" value="1" /> <span style="font-size:18px">Very Poor</span>
          <input type="radio" class="basic" name="subjective2" value="2" /> <span style="font-size:18px">Poor</span>
          <input type="radio" class="basic" name="subjective2" value="3" /> <span style="font-size:18px">Fair</span>
          <input type="radio" class="basic" name="subjective2" value="4" /> <span style="font-size:18px">Good</span>
          <input type="radio" class="basic" name="subjective2" value="5" /> <span style="font-size:18px">Very Good</span>
        </form>
        <br><br>
        <h3>During the task, if you selected scenes that didn't have the highest explanation score, please briefly explain what your reasoning was.</h3>
        <textarea id='reason-area' name='reason-area' class='form-control tb-margin'></textarea>
      </div>


      <br><br><br>

      <div class='col-xs-12' id='button-div'>
        <button class='btn btn-lg btn-primary' id="next_post2perf"  onclick="pg_post2perf()">Next Page</button>
      </div>

    </div>


    <!-- Your performance -->
    <div class='container-fluid' id='part_perf' style="display: none;">
      <div class='container-fluid'>
        <h1>Your performance</h1>
        <br>
        <p>
          You correctly guessed the scene the model predicted for
          <span id="correctcount"></span> out of <span id="correcttotal"></span> photos for Scenes A/B/C/D, and
          <span id="correctcount2"></span> out of <span id="correcttotal2"></span> photos Scenes W/X/Y/Z.
        </p>
        <br>
        <h3>Please self-rate your level of understanding of how the model makes its predictions.</h3>
        <form action="" method="post">
          <input type="radio" class="basic" name="subjective3" value="1" /> <span style="font-size:18px">Very Poor</span>
          <input type="radio" class="basic" name="subjective3" value="2" /> <span style="font-size:18px">Poor</span>
          <input type="radio" class="basic" name="subjective3" value="3" /> <span style="font-size:18px">Fair</span>
          <input type="radio" class="basic" name="subjective3" value="4" /> <span style="font-size:18px">Good</span>
          <input type="radio" class="basic" name="subjective3" value="5" /> <span style="font-size:18px">Very Good</span>
        </form>
      </div>
      <br><br><br>
      <div class='col-xs-12' id='button-div'>
        <button class='btn btn-lg btn-primary' id="next_perf2choice"  onclick="pg_perf2choice()">Next Page</button>
      </div>

    </div>


    <!-- Choose which explanation to use -->
    {% include "hit_templates/choice_8concept_16concept.html" %}


    <!-- Feedback -->
    <div class='container-fluid' id='part_feedback' style="display: none;">
      <div class='col-xs-12'>
        <h3>
          Thank you for your participation!
          <br><br>
          Let us know if you have any feedback about this study.
        </h3>
        <textarea id='feedback-area' name='feedback-area' class='form-control tb-margin'></textarea>
      </div>

      <!-- Submit -->
      {% include "hit_templates/simpleamt.html" %}
    </div>




    <!-- Beginning of script -->
    <script>

      function preview_submit() {
        document.getElementById('warning').style.display = 'block';
        var radios = document.querySelectorAll('input[type="radio"]');
        for (i=0;i<radios.length;i++) {
          radios[i].disabled = false;
        }
      };
      function task1_submit() {
        var count = 0;
        $('#g1_checkboxes input:checked').each(function() { count ++; });
        if (count == 8) { document.getElementById('all').style.display = 'block'; }
        if (count == 0) { document.getElementById('none').style.display = 'block'; }
        if (idx != input_image.length-1) { next_btn.disabled = false;
        } else {
          next_btn.disabled = true;
          next_task2task2.disabled = false;
        }
        var radios = document.querySelectorAll('input[type="radio"]');
        for (i=0;i<radios.length;i++) { radios[i].disabled = false; }
      };
      function task2_submit() {
        var count = 0;
        $('#g2_checkboxes input:checked').each(function() { count ++; });
        if (count == 8) { document.getElementById('all2').style.display = 'block'; }
        if (count == 0) { document.getElementById('none2').style.display = 'block'; }
        if (idx2 != input_image2.length-1) { next_btn2.disabled = false;
        } else {
          next_btn2.disabled = true;
          next_task22post.disabled = false;
        }
        var radios = document.querySelectorAll('input[type="radio"]');
        for (i=0;i<radios.length;i++) { radios[i].disabled = false; }
      };

      // Create timing object
      timing = {};
      timing['start'] = Date.now();
      timing['pg_method'] = []; timing['pg_method2'] = [];
      timing['nextphoto'] = []; timing['nextphoto2'] = [];
      timing['nextconcept'] = []; timing['nextconcept2'] = [];

      function movepage(div_prev, div_next) {
        if (div_prev.style.display !== 'none') {
          div_prev.style.display = 'none';
          div_next.style.display = 'block';
        }
        else {
          div_prev.style.display = 'block';
          div_next.style.display = 'none';
        }
        // Jump to the top of the page
        window.scroll({ top: 0, left: 0, behavior: 'smooth' });
      }

      // Move between pages
      function pg_consent2demographics() {
        timing['pg_consent2demographics'] = Date.now();
        var div_prev = document.getElementById('part_consent');
        var div_next = document.getElementById('part_demographics');
        movepage(div_prev, div_next);
      }
      function pg_demographics2intro() {
        timing['pg_demographics2intro'] = Date.now();
        var div_prev = document.getElementById('part_demographics');
        var div_next = document.getElementById('part_intro');
        movepage(div_prev, div_next);
      }
      function pg_intro2preview() {
        timing['pg_intro2preview'] = Date.now();
        var div_prev = document.getElementById('part_intro');
        var div_next = document.getElementById('part_preview');
        movepage(div_prev, div_next);
      }
      function pg_preview2task() {
        timing['pg_preview2task'] = Date.now();
        var div_prev = document.getElementById('part_preview');
        var div_next = document.getElementById('part_task');
        movepage(div_prev, div_next);
      }
      function pg_task2task2() {
        timing['pg_task2task2'] = Date.now();
        var div_prev = document.getElementById('part_task');
        var div_next = document.getElementById('part_task2');
        movepage(div_prev, div_next);
      }
      function pg_task22post() {
        timing['pg_task22post'] = Date.now();
        var div_prev = document.getElementById('part_task2');
        var div_next = document.getElementById('part_post');
        movepage(div_prev, div_next);
      }
      function pg_post2perf() {
        timing['pg_post2perf'] = Date.now();
        var div_prev = document.getElementById('part_post');
        var div_next = document.getElementById('part_perf');
        movepage(div_prev, div_next);
      }
      function pg_perf2choice() {
        timing['pg_perf2choice'] = Date.now();
        var div_prev = document.getElementById('part_perf');
        var div_next = document.getElementById('part_choice');
        movepage(div_prev, div_next);
      }
      function pg_choice2feedback() {
        timing['pg_choice2feedback'] = Date.now();
        var div_prev = document.getElementById('part_choice');
        var div_next = document.getElementById('part_feedback');
        movepage(div_prev, div_next);
      }
      function pg_method() {
        timing['pg_method'][timing['pg_method'].length] = Date.now();
        var div_method = document.getElementById('part_method');
        if (div_method.style.display == 'none') {
          div_method.style.display = 'block';
        }
        else {
          div_method.style.display = 'none';
        }
      }
      function pg_method2() {
        timing['pg_method2'][timing['pg_method2'].length] = Date.now();
        var div_method2 = document.getElementById('part_method2');
        if (div_method2.style.display == 'none') {
          div_method2.style.display = 'block';
        }
        else {
          div_method2.style.display = 'none';
        }
      }


      // Define some default input.
      var DEFAULT_INPUT = {"input_id": [0],
        "input_image": ["https://drive.google.com/uc?export=view&id=1ITrx01DEnB3_57O0I5yBvu1jqy-1FPxC",
        "https://drive.google.com/uc?export=view&id=1hrQ0D3ZYBfrp0f-hIhVnC4Zknn1nCYLB",
        "https://drive.google.com/uc?export=view&id=1LJy0M_VbOEqFR2r6-KaPtQ5WLSigpqXh",
        "https://drive.google.com/uc?export=view&id=1o1-R2UwYXR-zn2ZFDEW6s-4UYJc_8P68",
        "https://drive.google.com/uc?export=view&id=1KvIjd_H0kR6MUCcNqI6DBi5sIo95JxS_"],
        "input_imagename": ["ADE_train_00016439.jpg",
        "ADE_train_00016961.jpg",
        "ADE_train_00016367.jpg",
        "ADE_train_00017034.jpg",
        "ADE_train_00018406.jpg"],
        "predicted": [3, 4, 1, 2, 2],
        "input_image2": ["https://drive.google.com/uc?export=view&id=1t8czqitJwFUppov8paT6f06tRXERIrqp",
        "https://drive.google.com/uc?export=view&id=1ctJpH97-_nNAGpfeB2h38M6RUK8fgAEm",
        "https://drive.google.com/uc?export=view&id=1IXNSwxmDkV0GGRRRNBrgODtoQx_FKFZl",
        "https://drive.google.com/uc?export=view&id=1MQhw8LRagKwvGqZ2IKRhHzy13B0vRGGb",
        "https://drive.google.com/uc?export=view&id=1gfw0VHUhbQUoxNaIAkFsRkDAD_NEoArb"],
        "input_imagename2": ["ADE_train_00003787.jpg",
        "ADE_val_00000161.jpg",
        "ADE_train_00006850.jpg",
        "ADE_train_00011102.jpg",
        "ADE_train_00000233.jpg"],
        "predicted2": [1, 1, 2, 4, 1]
      }


      // Variables to record answers
      var reasons = [], descriptions = [], feedback = [];

      // Some variables to track state of the HIT.
      var enabled = false, longinput = null;

      var localanswers = [], idx = 0;
      var localanswers2 = [], idx2 = 0;
      var finalscores = [],finalscores2 = [];

      var correctacclist = []; var correcttotal = [];
      document.getElementById("correctcount").innerHTML = 5;
      document.getElementById("correcttotal").innerHTML = 5;
      var correctacclist2 = []; var correcttotal2 = [];
      document.getElementById("correctcount2").innerHTML = 5;
      document.getElementById("correcttotal2").innerHTML = 5;

      // Initialize concept scores
      const preview_score_names = ["preview_score_wall", "preview_score_sky", "preview_score_floor",
        "preview_score_windowpane", "preview_score_tree", "preview_score_building", "preview_score_person",
        "preview_score_door", "preview_score_table", "preview_score_plant", "preview_score_ceiling"];
      for(const v of preview_score_names) {
        for(i=0;i<document.getElementsByClassName(v).length;i++){
          document.getElementsByClassName(v)[i].innerHTML = 0;
        };
      }
      const g1_score_names = ["g1_score_sky", "g1_score_person", "g1_score_road", "g1_score_grass",
        "g1_score_plant", "g1_score_car", "g1_score_sidewalk", "g1_score_skyscraper"];
      for(const v of g1_score_names) {
        for(i=0;i<document.getElementsByClassName(v).length;i++){
          document.getElementsByClassName(v)[i].innerHTML = 0;
        };
      }
      const g2_score_names = ["g2_score_wall", "g2_score_floor", "g2_score_windowpane", "g2_score_table",
        "g2_score_chair", "g2_score_bed", "g2_score_sofa", "g2_score_cushion"];
      for(const v of g2_score_names) {
        for(i=0;i<document.getElementsByClassName(v).length;i++){
          document.getElementsByClassName(v)[i].innerHTML = 0;
        };
      }
      // Initialize final scores with the bias term
      const finalscorenames = ["preview_finalscore1", "preview_finalscore2", "preview_finalscore3", "preview_finalscore4",
                                "g1_finalscore1", "g1_finalscore2", "g1_finalscore3", "g1_finalscore4",
                                "g2_finalscore1", "g2_finalscore2", "g2_finalscore3", "g2_finalscore4"]
      const finalscorevars = [0.02, 0.42, 2.02, 0.00, 0.00, 1.04, 1.04, 0.61, 0.08, 0.16, 0.00, 0.16]
      for(k=0;k<finalscorenames.length;k++) {
        varname = finalscorenames[k]
        for(i=0;i<document.getElementsByClassName(varname).length;i++){
          document.getElementsByClassName(varname)[i].innerHTML = finalscorevars[k];
        };
      }

      // Initialize final score variables
      var preview_finalscore1 = 0, preview_finalscore2 = 0, preview_finalscore3 = 0, preview_finalscore4 = 0;
      var g1_finalscore1 = 0, g1_finalscore2 = 0, g1_finalscore3 = 0, g1_finalscore4 = 0;
      var g2_finalscore1 = 0, g2_finalscore2 = 0, g2_finalscore3 = 0, g2_finalscore4 = 0;

      // Initialize concept score variables
      const preview_names = ["preview_wall", "preview_sky", "preview_floor", "preview_windowpane", "preview_tree",
        "preview_building", "preview_person", "preview_door", "preview_table", "preview_plant", "preview_ceiling"];
      var p_scores = {};
      for(const a of preview_names) { p_scores[a] = 0; }

      const g1_names = ["g1_sky", "g1_person", "g1_road", "g1_grass", "g1_plant", "g1_car", "g1_sidewalk", "g1_skyscraper"];
      var g1_scores = {};
      for(const a of g1_names) { g1_scores[a] = 0; }

      const g2_names = ["g2_wall", "g2_floor", "g2_windowpane", "g2_table", "g2_chair", "g2_bed", "g2_sofa", "g2_cushion"];
      var g2_scores = {};
      for(const a of g2_names) { g2_scores[a] = 0; }

      // Record input and accuracy
      function record() {
        timing['nextphoto'][idx] = Date.now();

        // Record selections
        var selected = [];
        $('#g1_checkboxes input:checked').each(function() {
            selected.push($(this).attr('value'));
        });
        localanswers[idx] = {
          'predictedclass': parseInt($('input[name=predictedclass]:checked').val(), 10),
          'selected': selected
        };
        finalscores[idx] = {
          '1': g1_finalscore1,
          '2': g1_finalscore2,
          '3': g1_finalscore3,
          '4': g1_finalscore4
        };

        // Calculate accuracy
        for (var i = 0; i < input_image.length; ++i) {
          if (localanswers[i]['predictedclass'] == predicted[i]) { correctacclist[i] = 1; }
          else { correctacclist[i] = 0; }
          correcttotal[i] = 1;
        }
        correctcount = correctacclist.reduce(function(a, b) { return Number(a) + Number(b); }, 0);
        correcttotal = correcttotal.reduce(function(a, b) { return Number(a) + Number(b); }, 0);
        document.getElementById("correctcount").innerHTML = correctcount;
        document.getElementById("correcttotal").innerHTML = correcttotal;

      }
      function record2() {
        timing['nextphoto2'][idx2] = Date.now();

        // Record selections
        var selected2 = [];
        $('#g2_checkboxes input:checked').each(function() {
            selected2.push($(this).attr('value'));
        });
        localanswers2[idx2] = {
          'predictedclass': parseInt($('input[name=predictedclass2]:checked').val(), 10),
          'selected': selected2
        };
        finalscores2[idx2] = {
          '1': g2_finalscore1,
          '2': g2_finalscore2,
          '3': g2_finalscore3,
          '4': g2_finalscore4
        };

        // Calculate accuracy
        for (var i = 0; i < input_image2.length; ++i) {
          if (localanswers2[i]['predictedclass'] == predicted2[i]) { correctacclist2[i] = 1; }
          else { correctacclist2[i] = 0; }
          correcttotal2[i] = 1;
        }
        correctcount2 = correctacclist2.reduce(function(a, b) { return Number(a) + Number(b); }, 0);
        correcttotal2 = correcttotal2.reduce(function(a, b) { return Number(a) + Number(b); }, 0);
        document.getElementById("correctcount2").innerHTML = correctcount2;
        document.getElementById("correcttotal2").innerHTML = correcttotal2;

      } // End of record()


      $(function() {

        // Allow next page buttons
        $("input[name='consent']").change(function(){next_consent2demographics.disabled = false;});
        $("input[name='ml_exp']").change(function(){next_demographics2intro.disabled = false;});
        $("input[name='preview']").change(function(){document.getElementById('preview_submit').disabled = false;});
        $("input[name='subjective_expl']").change(function(){next_intro2preview.disabled = false;});
        $("input[name='subjective']").change(function(){next_preview2task.disabled = false;});
        $("input[name='subjective2']").change(function(){next_post2perf.disabled = false;});
        $("input[name='subjective3']").change(function(){next_perf2choice.disabled = false;});
        $("input[name='tradeoff']").change(function(){next_choice2feedback.disabled = false;});

        // Allow next page button only when the task is complete
        $("input[name='predictedclass']").change(function(){
          if ($("input[name='predictedclass']").is(":checked")) {
            if (idx != input_image.length-1) {
              document.getElementById('task1_submit').disabled = false;
              document.getElementById('all').style.display = 'none';
              document.getElementById('none').style.display = 'none';
            }
            if (idx == input_image.length-1) {
              document.getElementById('task1_submit').disabled = false;
            }
         }
        });
        $("input[name='predictedclass2']").change(function(){
          if ($("input[name='predictedclass2']").is(":checked")) {
            if (idx2 != input_image2.length-1) {
              document.getElementById('task2_submit').disabled = false;
              document.getElementById('all2').style.display = 'none';
              document.getElementById('none2').style.display = 'none';
            }
            if (idx2 == input_image2.length-1) {
              document.getElementById('task2_submit').disabled = false;
            }
         }
        });

        // If there is a change to a concept checkbox, update concept and final explanation scores
        for(k=0;k<preview_names.length;k++) {
          const a = preview_names[k]
          $("input[name="+a+"]").change(function(){
            p_scores[a] = this.checked ? 1 : 0;
            preview_onclick();
          });
        }
        for(k=0;k<g1_names.length;k++) {
          const a = g1_names[k]
          $("input[name="+a+"]").change(function(){
            g1_scores[a] = this.checked ? 1 : 0;
            g1_onclick();
            document.getElementById('all').style.display = 'none';
            document.getElementById('none').style.display = 'none';
          });
        }
        for(k=0;k<g2_names.length;k++) {
          const a = g2_names[k]
          $("input[name="+a+"]").change(function(){
            g2_scores[a] = this.checked ? 1 : 0;
            g2_onclick();
          });
        }

        // Calculate final explanation scores
        function preview_onclick() {

          for(k=0;k<preview_score_names.length;k++) {
            for(i=0;i<document.getElementsByClassName(preview_score_names[k]).length;i++){
              document.getElementsByClassName(preview_score_names[k])[i].innerHTML = p_scores[preview_names[k]];
            };
          };

          preview_finalscore1 = 3.54 * p_scores['preview_wall'] - 1.96 * p_scores['preview_sky'] + 1.63 * p_scores['preview_floor'] - 1.54 * p_scores['preview_windowpane'] + 1.46 * p_scores['preview_tree'] - 1.31 * p_scores['preview_building'] + 1.25 * p_scores['preview_person'] - 1.22 * p_scores['preview_door'] + 0.02
          for(i=0;i<document.getElementsByClassName("preview_finalscore1").length;i++){
            document.getElementsByClassName("preview_finalscore1")[i].innerHTML = preview_finalscore1.toFixed(2);
          };
          preview_finalscore2 = 2.43 * p_scores['preview_wall'] - 1.94 * p_scores['preview_sky'] + 0.42
          for(i=0;i<document.getElementsByClassName("preview_finalscore2").length;i++){
            document.getElementsByClassName("preview_finalscore2")[i].innerHTML = preview_finalscore2.toFixed(2);
          };
          preview_finalscore3 = 3.07 * p_scores['preview_wall'] - 2.31 * p_scores['preview_sky'] - 2.24 * p_scores['preview_floor'] + 1.81 * p_scores['preview_windowpane'] - 1.79 * p_scores['preview_tree'] - 1.69 * p_scores['preview_building'] + 1.37 * p_scores['preview_person'] - 1.36 * p_scores['preview_ceiling'] + 2.02
          for(i=0;i<document.getElementsByClassName("preview_finalscore3").length;i++){
            document.getElementsByClassName("preview_finalscore3")[i].innerHTML = preview_finalscore3.toFixed(2);
          };
          preview_finalscore4 = - 1.81 * p_scores['preview_wall'] - 1.66 * p_scores['preview_floor'] + 1.38 * p_scores['preview_person'] - 1.37 * p_scores['preview_door'] + 1.00 * p_scores['preview_ceiling'] + 0
          for(i=0;i<document.getElementsByClassName("preview_finalscore4").length;i++){
            document.getElementsByClassName("preview_finalscore4")[i].innerHTML = preview_finalscore4.toFixed(2);
          };

        }; // End of preview_onclick()

        function g1_onclick() {

          for(k=0;k<g1_score_names.length;k++) {
            for(i=0;i<document.getElementsByClassName(g1_score_names[k]).length;i++){
              document.getElementsByClassName(g1_score_names[k])[i].innerHTML = g1_scores[g1_names[k]];
            };
          };

          g1_finalscore1 = - 0.12 * g1_scores["g1_sidewalk"] + 0.00
          for(i=0;i<document.getElementsByClassName("g1_finalscore1").length;i++){
            document.getElementsByClassName("g1_finalscore1")[i].innerHTML = g1_finalscore1.toFixed(2);
          };
          g1_finalscore2 = - 1.44 * g1_scores["g1_skyscraper"] - 1.03 * g1_scores["g1_sky"] + 0.69 * g1_scores["g1_grass"] - 0.23 * g1_scores["g1_car"] + 0.23 * g1_scores["g1_plant"] + 1.04
          for(i=0;i<document.getElementsByClassName("g1_finalscore2").length;i++){
            document.getElementsByClassName("g1_finalscore2")[i].innerHTML = g1_finalscore2.toFixed(2);
          };
          g1_finalscore3 = 1.54 * g1_scores["g1_skyscraper"] - 1.11 * g1_scores["g1_car"] - 1.04 * g1_scores["g1_road"] - 1.00 * g1_scores["g1_sidewalk"] - 0.75 * g1_scores["g1_person"] + 1.04
          for(i=0;i<document.getElementsByClassName("g1_finalscore3").length;i++){
            document.getElementsByClassName("g1_finalscore3")[i].innerHTML = g1_finalscore3.toFixed(2);
          };
          g1_finalscore4 = - 1.90 * g1_scores["g1_skyscraper"] + 0.27 * g1_scores["g1_car"] - 0.19 * g1_scores["g1_grass"] + 0.04 * g1_scores["g1_sidewalk"] + 0.61
          for(i=0;i<document.getElementsByClassName("g1_finalscore4").length;i++){
            document.getElementsByClassName("g1_finalscore4")[i].innerHTML = g1_finalscore4.toFixed(2);
          };

        }; // End of g1_onclick()

        function g2_onclick() {

          for(k=0;k<g2_score_names.length;k++) {
            for(i=0;i<document.getElementsByClassName(g2_score_names[k]).length;i++){
              document.getElementsByClassName(g2_score_names[k])[i].innerHTML = g2_scores[g2_names[k]];
            };
          };

          g2_finalscore1 = - 0.70 * g2_scores["g2_chair"] - 0.10 * g2_scores["g2_floor"] + 0.08
          for(i=0;i<document.getElementsByClassName("g2_finalscore1").length;i++){
            document.getElementsByClassName("g2_finalscore1")[i].innerHTML = g2_finalscore1.toFixed(2);
          };
          g2_finalscore2 = - 1.41 * g2_scores["g2_bed"] - 0.20 * g2_scores["g2_cushion"] + 0.16
          for(i=0;i<document.getElementsByClassName("g2_finalscore2").length;i++){
            document.getElementsByClassName("g2_finalscore2")[i].innerHTML = g2_finalscore2.toFixed(2);
          };
          g2_finalscore3 = -0.52 * g2_scores["g2_windowpane"] - 0.33 * g2_scores["g2_floor"] - 0.04 * g2_scores["g2_wall"] + 0.00
          for(i=0;i<document.getElementsByClassName("g2_finalscore3").length;i++){
            document.getElementsByClassName("g2_finalscore3")[i].innerHTML = g2_finalscore3.toFixed(2);
          };
          g2_finalscore4 = - 1.05 * g2_scores["g2_bed"] - 0.31 * g2_scores["g2_table"] + 0.14 * g2_scores["g2_sofa"] + 0.16
          for(i=0;i<document.getElementsByClassName("g2_finalscore4").length;i++){
            document.getElementsByClassName("g2_finalscore4")[i].innerHTML = g2_finalscore4.toFixed(2);
          };

        }; // End of g1_onclick()


        function main() {
          // If this is a HIT on AMT, then replace the default input with the real input
          longinput = simpleamt.getInput(DEFAULT_INPUT);

          // Load input
          input_id = longinput['input_id'][0]

          input_image = longinput['input_image']
          predicted = longinput['predicted']

          input_image2 = longinput['input_image2']
          predicted2 = longinput['predicted2']

          // Enable the UI if the HIT is not in preview mode
          if (!simpleamt.isPreview()) {
            enable_hit();
          }

          // Set up the descriptions
          _.each(input, function() { reasons.push(''); });
          _.each(input, function() { descriptions.push(''); });
          _.each(input, function() { feedback.push(''); });

          // Render page
          render();
        }

        // Render page with current index input
        function render() {

          // Jump to the top of the page
          window.scroll({ top: 0, left: 0, behavior: 'smooth' });

          // Set up the image
          $('#testimage-container').empty();
          $('<img>').attr({
            'src':input_image[idx], 'height':'20%', 'align':'center'
          }).appendTo($('#testimage-container'));
          $('#testimage-container2').empty();
          $('<img>').attr({
            'src':input_image2[idx2], 'height':'20%', 'align':'center'
          }).appendTo($('#testimage-container2'));

          // Set up the text area
          $('#reason-area').val(reasons);
          $('#text-area').val(descriptions);
          $('#feedback-area').val(feedback);

          // Refresh the image counter
          $('.counter-top').text(idx + 1);
          $('.counter-bottom').text(input_image.length + input_image2.length);
          $('.counter-top2').text(input_image.length + idx2 + 1);
          $('.counter-bottom2').text(input_image.length + input_image2.length);

        } // End of render()

        // Save the input and update the index
        function set_idx(new_idx) {
          if (new_idx < 0 || new_idx >= input_image.length) return;
          idx = new_idx;
          render();
        }
        function set_idx2(new_idx) {
          if (new_idx < 0 || new_idx >= input_image2.length) return;
          idx2 = new_idx;
          render();
        }

        // Enable the UI
        function enable_hit() {
          enabled = true;

          // Enable components
          $('#next_btn').click(function() {
            set_idx(idx + 1);
            $('input[name=predictedclass]').prop('checked',false);
            next_btn.disabled = true;
            document.getElementById('task1_submit').disabled = true;
            document.getElementById('all').style.display = 'none';
            document.getElementById('none').style.display = 'none';

            // Reset checkboxes and scores
            $('input[type=checkbox]').each(function() { this.checked = false; });
            for(k=0;k<g1_names.length;k++) {
              const a = g1_names[k]
              g1_scores[a] = 0;
            }
            g1_onclick()
          });
          $('#next_btn2').click(function() {
            set_idx2(idx2 + 1);
            $('input[name=predictedclass2]').prop('checked',false);
            next_btn2.disabled = true;
            document.getElementById('task2_submit').disabled = true;
            document.getElementById('all2').style.display = 'none';
            document.getElementById('none2').style.display = 'none';

            // Reset checkboxes and scores
            $('input[type=checkbox]').each(function() { this.checked = false; });
            for(k=0;k<g2_names.length;k++) {
              const a = g2_names[k]
              g2_scores[a] = 0;
            }
            g2_onclick()
          });

          // Enable components
          $('#text-area').prop('disabled', false);
          $('#feedback-area').prop('disabled', false);
          $('#submit-btn').prop('disabled', false);

          // Set up submit handler.
          simpleamt.setupSubmit();
          $('#submit-btn').click(function() {

            timing['submit'] = Date.now();

            // Choice answers
            ml_exp = $('input[name=ml_exp]:checked').val();
            subjective_expl = $('input[name=subjective_expl]:checked').val();
            subjective = $('input[name=subjective]:checked').val();
            subjective2 = $('input[name=subjective2]:checked').val();
            subjective3 = $('input[name=subjective3]:checked').val();
            tradeoff = $('input[name=tradeoff]:checked').val();

            // Performance
            correctcount = document.getElementById("correctcount").innerHTML;
            correctcount2 = document.getElementById("correctcount2").innerHTML;

            // Demographics
            gender = []; race = [];
            if ($('input[name=gender]:checked').length > 0) { gender.push($('input[name=gender]:checked').val()); }
            else { gender.push(""); };
            if ($('input[name=race]:checked').length > 0) { race.push($('input[name=race]:checked').val()); }
            else {race.push("");};
            if (gender.length === 0) {gender = [''];};
            if (race.length === 0) {race = [''];};
            gender_written = [];
            gender_written.push($('#genderdescribe').val());

            // Descriptions of reasons
            reasons = [];
            reasons.push($('#reason-area').val());
            descriptions = [];
            descriptions.push($('#text-area').val());
            feedback = [];
            feedback.push($('#feedback-area').val());

            // Return output
            var output = _.map(_.zip(ml_exp,
              gender, gender_written, race,
              subjective_expl,
              subjective, subjective2, subjective3,
              tradeoff, correctcount, correctcount2,
              reasons, descriptions, feedback), function(x) {
              return {'ml_exp': x[0],
              'gender': x[1], 'gender_written': x[2], 'race': x[3],
              'subjective_expl': x[4],
              'subjective': x[5], 'subjective2': x[6], 'subjective3': x[7],
              'tradeoff': x[8], 'correctcount': x[9], 'correctcount2': x[10],
              'reasons':x[11], 'descriptions':x[12], 'feedback': x[13]};
            });
            output.push({"input": input_id});
            output.push({"timing": timing});
            output.push({"individual_answers": localanswers});
            output.push({'correctacclist': correctacclist});
            output.push({'finalscores': finalscores});
            output.push({"individual_answers2": localanswers2});
            output.push({'correctacclist2': correctacclist2});
            output.push({'finalscores2': finalscores2});
            simpleamt.setOutput(output);

          }); // End of submit-btn()

        } // End of enable_hit()

        main();

      }); // End of function()


    </script>
  </body>
</html>
